{% extends 'backend_api/base.html' %}

{% block title %}{{ service.name }}{% endblock %}

{% block content %}
<div class="service-detail">
    <h2>{{ service.name }}</h2>
    {% for spec in service.specifications.all %}
        <p>{{ spec.description }}</p>
    {% endfor %}
    <p>Характеристики:</p>
    <ul>
        {% for spec in service.specifications.all %}
            <li>Процессор:{{ spec.processor }}</li>
            <li>Оперативная память: {{ spec.ram}}</li>
            <li>Хранилище данных: {{ spec.disk }}</li>
            <li>Скорость интернета: {{ spec.internet_speed }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'service_list' %}">Вернуться к списку услуг</a>

    <form method="post" action="{% url 'service_delete' service.id %}">
        {% csrf_token %}
        <button type="submit" class="delete-button">Удалить</button>
    </form>

</div>
{% endblock %}
